/* Importação de fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;600;700;900&family=Lisu+Bosa:wght@600&family=Lobster&display=swap');

/* Reset CSS universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remoção do scrolling da página */
html, body {
    overflow: hidden;
} 

/* Estilização do cabeçalho */
header {
    width: 100%;
    height: 5rem;
    color: #D9E0EC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    background: linear-gradient(to left, #163882, #326ff3);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Logo do cabeçalho */
header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 5rem;
    height: 5rem;
    margin: .50rem;
}

header .logo p {
    font-family: 'Lobster', serif;
    font-size: 2.5rem;
    font-weight: 400;
}

/* Estilização da lista de navegação */
header .list {
    margin: 1.5rem;
}

/* Estilo dos links de navegação */
header a {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: #D9E0EC;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0 1rem 0 1rem;
    position: relative;
    overflow: hidden;
}

/* Estilo da linha animada */
header a::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background: #D9E0EC;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

header a:hover::before {
    width: 100%;
}

/* Estilização da seção principal */
#main {
    background: linear-gradient(to left, #326ff3cd, #163882de), url('/static/images/bg-main.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 12rem 0 0 4.5rem;
}

#main h1 {
    font-weight: 600;
    font-size: 4rem;
    color: #D9E0EC;
    line-height: 1;
    margin-bottom: 2rem;
}

#main h4 {
    font-weight: 300;
    font-size: 2rem;
    color: #D9E0EC;
    margin-bottom: 2rem;
}

#main a {
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background: #D9E0EC;
    font-weight: 200;
    transition: .5s ease;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

#main a:hover {
    background: #acbcd6;
}

/* Estilização da seção 'Quem somos' */
#who {
    width: 100%;
    height: 100vh;
    background: #2F7AFA;
    padding: 8rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

#who p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #D9E0EC;
    text-align: left;
}

/* Estilização da seção 'Serviços' */
#products {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #2155c4;
}

#products .container {
    display: flex;
    width: 35%;
    font-family: 'DM Sans', sans-serif;
    color: #D9E0EC;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#products .container img {
    width: 400px;
    height: 350px;
    border-radius: 35px;
    box-shadow: 0 0 1rem rgba(0, 179, 255, 0.5);
    margin-top: 2rem;
}

#products .container h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    width: 80%;
    margin: 1rem 0;
}

#products .container p {
    font-weight: 200;
    text-align: center;
    width: 50%;
}

/* Estilização da seção 'Sobre nós' */
#about {
    width: 100%;
    height: 100vh;
    background: #2F7AFA;
    font-family: 'DM Sans', sans-serif;
    color: #D9E0EC;
    display: flex;
}

#about .container h1 {
    font-weight: 600;
    font-size: 2.5rem;
    padding: 7rem 0 0 3rem;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
}

#about .container p {
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 5rem;
    padding: 7rem 0 0 3rem;
    text-align: justify;
}

#about img {
    width: 600px;
    height: 400px;
    border-radius: 35px;
    /*margin: 16rem 12rem 0 1rem;*/
    margin: 12%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

#contact {
    width: 100%;
    height: 100vh;
    padding-top: 6rem;
    display: flex;
    background: #2155c4;
    font-family: 'DM Sans', sans-serif;
    color: #D9E0EC;
}

#contact .container {
    padding: 8rem 3rem 0 4rem;
    width: 100%;
}

#contact .container h1 {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 2rem;
}

#contact .container p {
    font-weight: 400;
    font-size: 1.5rem;
}

/* Estilização do formulário na seção 'Fale conosco' */
#contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

#contact .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#contact .form-group label {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .25rem;
}

#contact ::placeholder {
    color: #d9e0eca6;
    font-family: 'Lisu Bosa', serif;
}

#contact .form-group input {
    width: 30rem;
    padding: .75rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.301);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    padding: .75rem;
    border: none;
    font-size: 16px;
    color: #D9E0EC;
}

#contact .form-group textarea {
    width: 30rem;
    height: 100px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.301);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    padding: .75rem;
    border: none;
    font-size: 16px;
    color: #D9E0EC;
    resize: none;
}

#contact form button {
    padding: 15px 20px;
    width: 8rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background: #364663;
    font-weight: 200;
    transition: .5s ease;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

#contact form button:hover {
    background: gray;
}

/* Estilização do footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #163882; /* Cor de fundo do footer */
    color: #D9E0EC; /* Cor do texto do footer */
    text-align: center;
    padding: .5rem 0; /* Espaçamento interno do footer */
}